<div class="post-toolbar">
  <h1>Цитати відомих людей про Бога</h1>
  <% if user_signed_in? && current_user.admin? %>
    <%= link_to new_quote_path do %>
      <button class="button padding-large border">Нова Цитата</button>
    <% end %>
  <% end %>
</div>

<% @quotes.each do |quote| %>
  <div class="post-container">
    <div class="container">	<h3>
      <b class="place-left date-label" style="font-size: 20px;"><%= quote.author %></b>
    </h3> </div>
    <div class="container vertical-small-paddings">
      <%= quote.text %>
      <% if user_signed_in? && current_user.admin? %>
        <div class="row" style="padding-top: 10px;">
          <div class="place-left">
            <%= link_to edit_quote_path(quote) do %> <button class="button border">Редагувати</button> <% end %>
            <%= link_to quote, method: :delete, data: { confirm: 'Чи ви впевненні?' } do %> <button class="button border">Видалити</button> <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<% if @quotes.present? %>
  <br>
  <div class="center-align">
    <% if @page > 0 %>
      <%= link_to quotes_path(page: @page - 1) do %> <button class="button border">&larr; Попередня</button> <% end %>
    <% end %>
    <%= link_to quotes_path(page: @page + 1) do %> <button class="button border">Наступна &rarr;</button> <% end %>
  </div>
<% end %>