<div class="container-without-padding">
	<%= link_to article_path(article.link_name) do %>
		<%= image_tag article.image_url(:standart), alt: article.title, class: "article-image" %>
	<% end %>
</div>
<div class="container">	
	<h3>
		<b class="place-left"><%= link_to article.title, article_path(article.link_name) %></b>
		<span class="date-label place-right"> Змінено <%= get_custom_date article.created_at %> тому</em></span>
	</h3>
</div>
<div class="container">
	<p><%= truncate(strip_tags(article.body), length: 600) %></p>
	<div class="row">
        <div class="place-left">
          	<p> <%= link_to article_path(article.link_name) do %>
					<button class="button padding-large border">ДЕТАЛЬНІШЕ »</button>
				<% end %> </p>
        </div>
        <div class="place-right">
          	<p><span class="padding-large">
				<b>Переглядів:  </b> 
				<span class="tag"><%= article.views != 0 ? article.views : '' %></span>
			</span></p>
        </div>
    </div>
</div>