<%= form_for(@article, :html => { :class => 'form' }) do |f| %>
	<%= hidden_field_tag :link_name, "#{@article.link_name}" %>
	<% if @article.errors.any? %>
		<% @article.errors.full_messages.each do |msg| %>
			<li><span style="color: red;"><%= msg %></span></li>
		<% end %>
	<% end %>

	<%= f.text_field :title, :id => 'title', placeholder: "Заголовок" %>
	<%= f.text_area :body, :id => 'body', placeholder: "Опис" %>
	<%= f.text_field :link_name, :id => 'link_name', placeholder: "Посилання на статтю" %>
	<%= f.file_field :image, value: "ДОДАТИ ЗОБРАЖЕННЯ" %>
	<% if f.object.image? %>
      <div class="image-container"><%= image_tag f.object.image.thumbnail.url %></div>
    <% end %>
	<%=f.collection_select :tag_ids, Tag.order(:name), :id, :name, {}, { "data-placeholder" => "Вибрати", multiple: true, id: "article_tag_id"} %>
	<%= f.submit "ОПУБЛІКУВАТИ", class: "form-button" %>
<% end %>