<%= form_for(@article) do |f| %>
	<p>
	<% if @article.errors.any? %>
		<% @article.errors.full_messages.each do |msg| %>
			<li><span style="color: red;"><%= msg %></span></li>
		<% end %>
	<% end %>
	</p>
	<p>
	<%= f.label 'Заголовок: *' %><br>
	<%= f.text_field :title %>
	</p>
	<p>
	<%= f.label 'Опис: *' %><br>
	<%= f.text_area :body %>
	</p>
	<p>
	<%= f.label 'Посилання на статтю: *' %><br>
	<%= f.text_field :link_name %>
	</p>
	<p>
    <%= f.label :tag_ids, "Теги:" %><br/>
	<%=f.collection_select :tag_ids, Tag.order(:name), :id, :name, {}, { "data-placeholder" => "Вибрати", multiple: true, id: "article_tag_id"} %><br/>
	</p>
	<p>
	<%= f.submit%>
	</p>
<% end %>