<%= form_for(@article) do |f| %>
	<p>
	<% if @article.errors.any? %>
		<% @article.errors.full_messages.each do |msg| %>
			<li><span style="color: red;"><%= msg %></span></li>
		<% end %>
	<% end %>
	</p>
	<p>
	<%= f.label 'Заголовок: *' %><br>
	<%= f.text_field :title %>
	</p>
	<p>
	<%= f.label 'Опис: *' %><br>
	<%= f.text_area :body %>
	</p>
	<p>
	<%= f.label "Теги: *" %><br>
	<%= f.select :category_id, options_for_select(@categories.collect{|category| [category.name, category.id] }, @category.id), html: {selected: true} %>
	</p>
	<p>
	<%= f.submit %>
	</p>
<% end %>