<%= form_for(@article) do |f| %>
	<p>
	<% if @article.errors.any? %>
		<% @article.errors.full_messages.each do |msg| %>
			<li><span style="color: red;"><%= msg %></span></li>
		<% end %>
	<% end %>
	</p>
	<p>
	<%= f.label :title %><br>
	<%= f.text_field :title %>
	</p>
	<p>
	<%= f.label :body %><br>
	<%= f.text_area :body %>
	</p>
	<p>
	<%= f.label :user_id %><br>
	<%= f.text_field :user_id %>
	</p>
	<p>
	<%= f.label :category_id %><br>
	<%= f.select :category_id, options_for_select(@categories.collect{|category| [category.name, category.id] }, @category.id), html: {selected: true} %>
	</p>
	<p>
	<%= f.label :moderated %><br>
	<%= f.check_box :moderated %>
	</p>
	<p>
	<%= f.submit %>
	</p>
<% end %>