<div style="margin-left: 15px;">
  <%= link_to articles_path do %>
    <button class="button padding-large border"> <b>Назад до усіх статтей</b> </button>
  <% end %>
  <% if user_signed_in? && current_user.admin? %>
    <%= link_to edit_article_path(@article.link_name) do %>
      <button class="button padding-large border"> <b>Редагувати</b> </button>
    <% end %>
  <%= link_to article_path(@article.link_name), method: :delete, data: {confirm: "Чи ви впевненні?"} do %>
    <button class="button padding-large border"> <b>Видалити</b> </button>
  <% end %>
<% end %>
</div>

<div class="article">
  <div class="container-without-padding">
    <%= image_tag @article.image_url(:standart), class: "article-image" %><br>
  </div>
  <div class="container-with-large-padding">
    <h2>
      <b class="place-left"> <%= @article.title %> </b>
    </h2>
  </div>
  <div class="container-with-large-padding">
    <p><%= @article.body %></p>
  </div>
  <div class="row container-with-large-padding" style="padding-top: 10px;">
      <div class="place-left">
        <p><span class="padding-medium">
          Додано користувачем <b><%= "#{get_author_name_from_article(@article)}" %></b> 
          <%= "#{time_ago_in_words(@article.created_at)} ago" %>
        </span></p>
      </div>
      <div class="place-right">
          <p><span class="padding-large">
            <b>Переглядів:  </b> 
            <span class="tag"><%= @article.views != 0 ? @article.views : '' %></span>
          </span></p>
      </div>
  </div>
  <div class="row container-with-large-padding" style="padding-bottom: 30px;">
    <div class="container tags-list-body">
      <p>Мітки: 
        <% @article.tags.each do |tag| %>
          <span class="tag"><%= link_to tag.name, tag_path(tag.link_name) %></span>
        <% end %>
      </p>
    </div>
	</div>
</div>