<div class="post-toolbar">
  <%= link_to articles_path do %>
    <button class="button padding-large border">Назад до усіх статтей</button>
  <% end %>
  <% if user_signed_in? && current_user.admin? %>
    <%= link_to edit_article_path(@article.link_name) do %>
      <button class="button padding-large border">Редагувати</button>
    <% end %>
    <%= link_to article_path(@article.link_name), method: :delete, data: {confirm: "Чи ви впевненні?"} do %>
      <button class="button padding-large border">Видалити</button>
    <% end %>
  <% end %>
</div>

<div class="article post-container">
  <%= image_tag @article.image_url(:standart), class: "article-image" %><br>
  <div class="container-with-large-padding">
    <h2>
      <b class="place-left post-title"> <%= @article.title %> </b>
    </h2>
  </div>
  <div class="container-with-large-padding">
    <p><%= @article.body.html_safe %></p>
  </div>
  <div class="row container-with-large-padding" style="padding-top: 10px;">
      <div class="place-left">
        <p>
          Додано користувачем <b><%= "#{get_author_name_from_article(@article)}" %></b> 
          <%= "#{get_date @article.created_at} тому" %>
        </p>
      </div>
      <div class="place-right">
          <p><span class="view-count-label">
            <b>Переглядів:  </b> 
            <span class="tag"><%= @article.views != 0 ? @article.views : '' %></span>
          </span></p>
      </div>
  </div>
  <div class="row container-with-large-padding" style="padding-bottom: 30px;">
    <div class="side-panel-body">
      <p>Мітки: 
        <% @article.tags.each do |tag| %>
          <span class="tag"><%= link_to tag.name, tag_path(tag.link_name) %></span>
        <% end %>
      </p>
    </div>
	</div>
</div>