<%= link_to "< Повернутись", root_path %>
<div>
  <strong>
    <%= @article.title %>
  </strong>
  <% if user_signed_in? && current_user.admin? %>
    | <%= link_to "Edit", edit_article_path(@article.link_name) %>
    | <%= link_to "Delete", article_path(@article.link_name), method: :delete, data: {confirm: "Чи ви впевненні?"} %><br>
  <% end %>
  <%= @article.views %><br>
  <%= @article.body %><br>
  <%= "Змінено користувачем #{get_author_name_from_article(@article)} #{time_ago_in_words(@article.created_at)} ago" %>
</div><br>