<!DOCTYPE html>
<html>
  <head>
    <title>Web For Christ</title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="content">
      <header>
        <%= render 'layouts/navmenu' %>

        <div class="container center-align">
          <div class="site-title"><b>WEB FOR CHRIST</b></div>
          <p>І пізнаєте Істину і Істина зробить вас <span class="tag"> вільними</span>!</p>
        </div>

        <% flash.each do |name, msg| %>
          <% if msg.is_a?(String) %>
            <%= content_tag :div, msg, :class => "flash_#{name}" %>
          <% end %>
        <% end %>
      </header>

      <div class="row">
        <div class="col place-left">
          <%= yield %>
        </div>
        <div class="col small-col place-right">
          <%= render 'questions/questions_banner' %>
          <%= render 'tags/tagslist', tags: Tag.all %>
          <%= render 'articles/small_post_list', articles: Article.all.most_popular %>
        </div>
      </div>

      <footer class="center-align">
        © 2017 - Web For Christ
      </footer>
    </div>
  </body>
</html>
