<!DOCTYPE html>
<html>
  <head>
    <title>Web For Christ</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h3>
        <%= link_to "Головна", root_path %>
        
        <% if !user_signed_in? && !current_page?(new_user_session_path) %>
          <%= link_to "Увійти", new_user_session_path %>
        <% elsif user_signed_in? && current_user.admin? %>
          Ви увійшли, як Адмін <%= link_to "Вийти", destroy_user_session_path, method: :delete %>
        <% elsif user_signed_in? %>
          Ви увійшли, як <%= current_user.email.split('@')[0] %> <%= link_to "Вийти", destroy_user_session_path, method: :delete %>
        <% end %>
      </h3>
      <% if notice.present? %>
        <%= notice %>
      <% end %>
      <% if alert.present? %>
        <%= alert %>
      <% end %>
    </header>
    <%= yield %>
  </body>
</html>
