<!DOCTYPE html>
<html>
  <head>
    <title><%= @meta_title %></title>
    <% if @meta_description.present? %>
      <meta name=”description” content=”<%= @meta_description %>”>
    <% end %>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.ico' %>
  </head>

  <body>
    <div class="content">
      <header>
        <%= render 'layouts/navmenu' %>
        <%= link_to root_path do %>
          <div class="center-align">
            <div class="site-title"><b>ПІЗНАТИ ІСТИНУ</b></div>
            <p>...і Істина зробить вас <span class="tag"> вільними</span>!</p>
          </div>
        <% end %>
        <% flash.each do |name, msg| %>
          <% if msg.is_a?(String) %>
            <%= content_tag :div, msg, :class => "flash_#{name}" %>
          <% end %>
        <% end %>
      </header>

      <div class="row">
        <div class="col-8 col-m-8 place-left">
          <%= yield %>
        </div>
        <div class="col-4 col-m-4 place-right">
          <%= render 'questions/questions_banner' %>
          <%= render 'articles/search_form' %>
          <%= render 'tags/tagslist', tags: Tag.all %>
          <% if current_page?(root_path) || current_page?(articles_path)  %>
            <%= render 'articles/sorting_panel' %>
          <% end %>
          <%= render 'articles/small_post_list', articles: Article.all.most_popular %>
          <%= render 'quotes/quotes_banner' %>
        </div>
      </div>

      <footer class="center-align">
        © 2017 - Web For Christ
      </footer>
    </div>
  </body>
</html>
