<!DOCTYPE html>
<html>
  <head>
    <title>Web For Christ</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h3>
        <% if !user_signed_in? %>
          <%= link_to "Увійти", new_user_session_path %>
        <% elsif user_signed_in? && current_user.admin? %>
            <p class="sign_in">Ви увійшли, як Адмін</p>
            <%= link_to "Вийти", destroy_user_session_path, method: :delete %>
        <% else %>
            <p class="sign_in">Ви увійшли, як <%= current_user.email.split('@')[0] %></p>
            <%= link_to "Вийти", destroy_user_session_path, method: :delete %>
        <% end %>
      </h3>
    </header>
    <%= yield %>
  </body>
</html>
